html {
    position: relative;
    min-height: 100%;
}

/*Navigation Section*/
.nav-menu {
    background: linear-gradient(-45deg,gold, #393448, black);
    background-size: 400% 400%;
    animation: gradient 8s ease-in-out infinite;
    margin-bottom: 80px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    opacity: 0.9;   
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*Body Section*/
body {
    background-color:#393448;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 50px;
}

.hoofdcontainer {
    background: linear-gradient(-45deg,gold, #393448, black);
    background-size: 400% 400%;
    animation: gradient 8s ease-in-out infinite;
    opacity: 0.9;
    border-radius: 15px;
}

.teams {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.teams:hover {
    transform: scale(1.10);
    transition: 0.3 ease-in;
    cursor: pointer;
    color: rgb(155, 103, 139);
}

img:hover {
    transform: scale(1);
    transition: 0.3 ease-in;
    cursor: pointer;
}

img {
    width: 80%;
    height: 200px;
}

.row-img {
    margin-top: 50px;
    margin-left: 60px;
}

.btn {
    background: -webkit-linear-gradient( to right, #fcb845, #fd1d1d, #833ab4);
    background: linear-gradient( to right, #fcb845, #fd1d1d, #833ab4);
    color: black;
    transform: all 0.3s ease;
}

.btn:hover {
    background: #ff1ead;
    transition: all 0.35s;
    border-radius: 4px;
}

/*foutmelding*/
.modal-content {
    background-color:#393448;
    color: white;
}

/*Footer Section*/
footer .main-footer {
    position:absolute;
    width: 100%;
    background: linear-gradient(-45deg,gold, #393448, black);
    background-size: 400% 400%;
    animation: gradient 8s ease-in-out infinite;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    opacity: 0.9;
    color: white;
    margin-top: -160px;
}


@media (min-width: 280px) {
    body {
        padding-bottom: 235px;
    }
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

   


/*De (Div) die de voorkant van de iconinhoud is*/
.social-icon {
    margin-top: -15px;
}

/*De (Div) met als inhoud de small van de achterkaart*/
.social-text {
    margin-top: -10px;
}

/*De (Small) met als inhoud de tekst van de achterkaart*/
small {
    font-size: 10px;
    font-weight: bold;
}

/*Alle li*/
.lis-icon {
    margin-bottom: 15px;
}

/*Alle cards*/
.maincard {
    position: relative;
    width: 55px;
    height: 40px;
}

/*De (Div) die de thefront en de theback inhoudt*/
.thecard {
    background-color: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    padding: 4px;
}

.thecard:hover {
    transform: rotateY(180deg)
}

/*De (Div) van de voorkaart*/
.thefront {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hidden;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #eee;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    padding: 4px;
}

/*De (Div) van de achterkaart*/
.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: hidden;
    border-radius: 10px;
    transform: rotateY(180deg);
    padding: 4px;
}

/*De icons*/
.facebook {
    background: #3b5998;
}

.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.youtube {
    background: #ff0000
}

.twitter {
    background: #1DA1F2;
}

.whatsapp {
    background: #4dc247
}

.pinterest {
    background: #cb2027
}