<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>APPC</title>
  <link rel="icon" href="img/circle.ico" type="image/x-icon">
  <link rel="stylesheet" href="../css/Bootstrap/bootstrap.css">
  <link rel="stylesheet" href="../css/OnzeCss/about.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark nav-menu p-4">
      <div class="container-fluid">
        <a href="./index.html"><img src="/img/TheOneLogo.png" class="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about.html">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container about-container">
    <div class="row my-row ">
      <p class="info teams">Team Anti Programming Programming Club:</p>
      <p class="text">Dit is de groep APPC die gevormd is door 4 studenten uit de graduaatsrichting programmeren.<br>
        Namelijk Claessens Aron, Mohamed Ahmed Sumaya, Vermeulen Ben en Mertens Thomas.</p>
    </div>

    <div class="row my-row">
      <p class="info teams">Opdrachtbeschrijving:</p>
      <p class="text">Onze opgave is om een professionele web applicatie uit te werken met de al opgeleerde kennis van
        bv. programmeertalen zoals HTML, CSS en Javascript.<br> In deze applicatie ontwikkelen wij een spel en gekozen
        deelopdracht over "The Lord of The Rings".</p>
    </div>
  </div>


  <!--Footer-->
  <footer class="footer">
    <div class="main-footer widgets-dark typo-light">
      <div class="container justify-content-center">
        <div class="row">

          <div class="row col-sm-12 col-lg-6 p-1">
            <div class="headline1 ">

              <h4 class="contact text-center">CONTACT US</h4>

              <address class="adres text-center">
                <h6><span style="font-weight: bold;">Phone: </span> 0358 256 546</h6>
                <h6><span style="font-weight: bold;">Email: </span><a href="mailto: info@appc.com">info@appc.com</a></h6>
                <h6><span style="font-weight: bold;">Adres: </span>Lange Nieuwstraat 101, <br> 2000 Antwerpen</h6>
              </address>

            </div>
          </div>

          <div class="row col-sm-12 col-lg-6 p-1">
            
            <h4 class="follow text-center">FOLLOW US</h4>
            <ul class="social-list">
             
              <div class="row justify-content-center">

                <li class="lis-icon row col-4 justify-content-center">
                  <div class="maincard p-0">
                    <div class="thecard">
                      <div class="thefront text-center py-4 facebook">
                        <div class="social-icon"> <i class="fa fa-facebook fa-2x"></i> </div>
                      </div>
                      <div class="theback py-4 facebook">
                        <div class="social-text"> <small class="font-weight-bold">Facebook</small> </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="lis-icon row col-4 justify-content-center">
                  <div class="maincard p-0">
                    <div class="thecard">
                      <div class="thefront text-center py-4 instagram">
                        <div class="social-icon"> <i class="fa fa-instagram fa-2x"></i> </div>
                      </div>
                      <div class="theback py-4 text-center instagram">
                        <div class="social-text"> <small class="font-weight-bold">Instagram</small> </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="lis-icon row col-4 justify-content-center">
                  <div class="maincard p-0">
                    <div class="thecard">
                      <div class="thefront text-center py-4 twitter">
                        <div class="social-icon"> <i class="fa fa-twitter fa-2x"></i> </div>
                      </div>
                      <div class="theback py-4 text-center twitter">
                        <div class="social-text"> <small class="font-weight-bold">Twitter</small> </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="lis-icon row col-4 justify-content-center">
                  <div class="maincard p-0">
                    <div class="thecard">
                      <div class="thefront text-center py-4 youtube">
                        <div class="social-icon"> <i class="fa fa-youtube fa-2x"></i> </div>
                      </div>
                      <div class="theback py-4 text-center youtube">
                        <div class="social-text"> <small class="font-weight-bold">Youtube</small> </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="lis-icon row col-4 justify-content-center">
                  <div class="maincard p-0">
                    <div class="thecard">
                      <div class="thefront text-center py-4 whatsapp">
                        <div class="social-icon"> <i class="fa fa-whatsapp fa-2x"></i> </div>
                      </div>
                      <div class="theback py-4 text-center whatsapp">
                        <div class="social-text"> <small class="font-weight-bold">Whatsapp</small> </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="lis-icon row col-4 justify-content-center">
                  <div class="maincard p-0">
                    <div class="thecard">
                      <div class="thefront text-center py-4 pinterest">
                        <div class="social-icon"> <i class="fa fa-pinterest fa-2x"></i> </div>
                      </div>
                      <div class="theback py-4 text-center pinterest">
                        <div class="social-text"> <small class="font-weight-bold">Pinterest</small> </div>
                      </div>
                    </div>
                  </div>
                </li>

              </div>
            </ul>
          </div>

          <div class="text-center p-0">
            <h6><span style="font-weight: bold;">©2021 Copyright: </span><a href="./index.html">appc.com</a></h6>
          </div>

        </div>
      </div>
  </footer>


  <script src="../js/Bootstrap/bootstrap.js"></script>

</body>

</html>